{% extends 'notes/__base.html' %}

{% block content %}
<h1 class="title">My Notes App</h1>
<div class="row">
    <a class="btn btn-success text-white" href="{% url 'notes:create-note' %}" role="button">add note</a>
</div>
<div class="row">
    <div class="notes">
        {% for note in object_list %}
            <div id="note-box" class="lazur-bg rotate-1 note-box">
                <p class="headings">{{ note.note_title }}</p>
                <p>{{ note.note_text }}</p>
                <br>
                <a href="{% url 'notes:edit-note' note.id %}" class="text-dark pull-left">edit</a>
                <a href="{% url 'notes:delete-note' note.id %}" class="text-dark pull-right">delete</a>
            </div>            
        {% endfor %} 
    </div>
</div>
</div>

{% endblock %}
